//Reggies



#title {
    text-align: center;
    width: 100%;
    height: auto;
}

#aboutus {
    img {
        height: auto;
        width: 250px;
        border-radius: 1000%;
    }
}

#icon {
    img {
        width: 50px;
        height: 50px;
    }
}


