//Reggies
body {
    .col, .row {
        padding: 0;
        margin: 0;    
    }
}

#title { 
    h1 {
        text-align: center;
        font-size: 300px;
        width: 100%;
    }
}


#aboutus {
    padding: 8px;
    img {
        background-color: aqua;
        height: 50px;
        width: 50px;
    }
}



footer {
    background-color: none;
}

//Tablet
@media (max-width: 900px) {

    #title { 
        h1 {
            text-align: center;
            font-size: 150px;
            width: 100%;
        }
    }

}

//Phone
@media (max-width: 450px) {

    #title { 
        h1 {
            text-align: center;
            font-size: 100px;
            width: 100%;
        }
    }

}
